/* Общие стили */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Стили для верхнего заголовка */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  font-size: 24px;
}

/* Стили для формы поиска */
#recipes {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

#searchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%;
  margin-right: 10px;
}

#searchButton {
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

/* Стили для контейнера результатов поиска */
#searchResults {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#searchResults > div {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 200px;
  max-width: 300px;
  flex-grow: 1;
  flex-basis: 0;
}

#searchResults h3 {
  font-size: 18px;
  margin: 0;
}

#searchResults img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#searchResults button {
  border: none;
  background-color: #4CAF50;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* Стили для модального окна*/
#modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#modal-button {
  display: none;
}

#modal {
    display: none;
    position: absolute;
    background-color: #fefefe;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

#modal h2 {
  margin-top: 0;
}

#modal-ingredients {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: none;
  line-height: 1.5;
}

#modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
}

#modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}