body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

form {
  text-align: center;
  margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

label {
  display: block;
  margin-bottom: 10px; /* добавление отступа между текстом и полем ввода */
}

input[type="text"] {
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;  border: none;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 10px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px; /* добавление отступа перед кнопкой */
}